@font-face {
  font-family: "SpaceGrotesk";
  src: url("/assets/fonts/SpaceGrotest/SpaceGrotesk-Regular.ttf"); /* IE9 Compatibility Mode */
  src: url("/assets/fonts/SpaceGrotest/SpaceGrotesk-Regular.ttf")
    format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("/assets/fonts/SpaceGrotest/SpaceGrotesk-Medium.ttf"); /* IE9 Compatibility Mode */
  src: url("/assets/fonts/SpaceGrotest/SpaceGrotesk-Medium.ttf")
    format("truetype"); /* Safari, Android, iOS */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("/assets/fonts/SpaceGrotest/SpaceGrotesk-Bold.ttf"); /* IE9 Compatibility Mode */
  src: url("/assets/fonts/SpaceGrotest/SpaceGrotesk-Bold.ttf")
    format("truetype"); /* Safari, Android, iOS */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("/assets/fonts/poppins/Poppins-Regular.ttf"); /* IE9 Compatibility Mode */
  src: url("/assets/fonts/poppins/Poppins-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
